@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default margin and padding */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Improve text rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}